<configuration>
    <springProperty scope="context" name="appName" source="spring.application.name"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Exemplo de appender JSON (opcional, útil para ingestão em sistemas de log)
    <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"application_name":"${appName}"}</customFields>
        </encoder>
    </appender>
    -->

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <!-- <appender-ref ref="CONSOLE_JSON" /> -->
    </root>

    <logger name="com.lojajogos.embalagem" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

</configuration>